/*=========== Footer =========*/
.pd_0{
    padding: 0px
}
.pd_lr_65{
    padding-left: 65px;
    padding-right: 65px;
}
.footer{
    position: relative;
    .side_footer_social .bottom_social{
        justify-content: start;
    }
    .footer_above{
        background: url('../images/footer_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 100px;
        padding-bottom: 90px;
        background-color: #111631;
        .subscribe{
            margin-right: 35px;
        }
    }
    .footer_above2{
        padding-top: 100px;
        padding-bottom: 65px;
        background-color: #111631;
        .footer_widget2{
            .logo{
                margin-bottom: 20px;
            }
            .side_footer_social{
                margin-top: 25px;
            }
            .widget_title{
                line-height: 52px;
                margin-bottom: 15px;
            }
        }
        .footer_contact{
            background: #141A3B;    
            padding: 25px 45px;
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #293262;
            .footer_contact_inner{
                display: flex;
                align-items: center;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    top: 0;
                    bottom: 0;
                    right: -32px;
                    background: #293262;
                }
                &:last-child{
                    &::before{
                        content: none;
                    }
                }
                .contact_icon{
                    width: 70px;
                    height: 70px;
                    font-size: 40px;
                    background: #293262;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    margin-right: 20px;
                    i{
                        color: var(--second-color);
                    }
                }
                .contact_content{
                    h6{
                        color: var(--white-color);
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    p{
                        color: #AEB6C2;
                        margin: 0;
                        line-height: 20px;
                        font-size: 14px;
                        font-weight: $font-semibold;
                        span{
                            color: var(--second-color);
                        }
                    }
                }
            }
        }
    }
    p{
        color: #CACFEB;
        font-size: 14px;
        margin-bottom: 20px;
    }
    ul{
        padding: 0;
        margin-bottom: 0px;
        list-style-type: none;
        li{
            list-style-type: none;
            color: #CACFEB;
            font-family: $paragraph-font;
            font-weight: $font-regular;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            >i{
                color: var(--second-color);
                margin-right: 10px;
            }
        }
    }

    .widget_title{
        font-family: $paragraph-font;
        position: relative;
        font-size: 20px;
        font-weight: $font-bold;
        line-height: 26px;
        text-transform: capitalize;
        letter-spacing: 0px;
        color: var(--white-color);
        text-align: left;
        margin-bottom: 30px;
        .title_line {
            display: block;
            width: 65px;
            height: 2px;
            background: var(--second-color);
            margin-top: 15px;
        }
    }
    p{
        font-weight: $font-regular;
        font-size: 16px;
        line-height: 26px;
    }
    .subscribe{
        position: relative;
        input{
            border-radius: 0;
            height: 62px;
            color: var(--body-color);
            border: 0;
        }
        button{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 12px;
            color: var(--white-color);
            background: var(--second-color);
            padding: 12px 20px;
            border: 0;
            border-radius: 0;
            z-index: 9;
        }
    }

    /*-- Footer Nav --*/
    .footer_nav{
        display: flex;
        justify-content: space-between;
        li{
            position: relative;
            &:first-child{
                padding-top: 0px;
            }
            
            a{
                font-family: $paragraph-font;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: $font-regular;
                color: #CACFEB;
                display: block;
                padding-left: 0px;
                text-decoration: none;
                letter-spacing: -.2px;
                &:hover{
                    color: var(--second-color);
                    
                }
            }
        }
    }


    /*-- Address --*/
    .footer_contact{
        position: relative;
        margin-top: 0px;
        p{
            font-family: $paragraph-font;
            font-weight: $font-medium;
            font-size: 14px;
            line-height: 26px;
            color: var(--white-color);
            margin-top: 30px;
        }
        .header{
            background: none;
            width: 250px;
            border: 1px dotted var(--second-color);
            margin-top: 20px;
        }
    }
    .contact_info{
        padding: 85px 50px 50px 50px;
        h4{
            font-size: 22px;
            font-weight: $font-medium;
            line-height: 30px;
            color: var(--white-color);
            margin: 15px 0px;
        }
        .phone {
            position: relative;
            font-family: $heading-font;
            font-size: $font-24;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: auto;
            color: var(--white-color);
            line-height: 32px;
            padding: 30px 30px;
            margin-top: 25px;
            @include bordered(1px, dashed, var(--second-color));
            word-break: break-word;
            > *{
                position: relative;
                text-align: left;
            }
            img{
                margin-right: 15px;
            }
            span {
                font-family: $paragraph-font;
                font-size: $font-18;
                font-weight: $font-medium;
            }
        }
    }
    .most_read{
        li{
            margin-bottom: 10px;
        }
    }
    /*-- Most Read --*/
    .most_read_item{
        display: flex;
        padding-bottom: 25px;
        margin-bottom: 25px;
        @include bordered-bottom(1px, solid, #373747);
        &:last-child{
            padding-bottom: 0px;
            margin-bottom: 0px;
            @include bordered-bottom(0px, solid, #373747);
        }
        .most_read_image{
            min-width: 80px;
            width: 80px;
            margin-right: 20px;
        }
        h5{
            font-size: $font-20;
            a{
                color: var(--white-color);
            }
            &:hover{
                a{
                    color: var(--second-color);
                }
            }
        }
        h6{
            font-size: $font-14;
            color: #c5d1e7;
            margin-top: 12px;
        }
    }

    .footer_bottom{
        background: #141A3B;
        padding: 15px 30px;
        .header{
            background: none;
            .header_social .top_social li{
                width: auto;
                a{
                    i{
                        margin-right: 0;
                        line-height: 2.5;
                    }
                }
            }
        }
        .footer_bottom_inner{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            color: #fff;
            .footer_nav_bottom{
                ul{                    
                    display: flex;
                    li{
                        margin-bottom: 0;
                        &:first-child{
                            margin-right: 20px;
                        }
                    }
                }
            }
            .copyright {
                margin: 0 auto;
                p{
                    font-family: $paragraph-font;
                    font-size: $font-16;
                    font-weight: $font-regular;
                    line-height: 24px;
                    letter-spacing: -.2px;
                    text-transform: capitalize;
                    color: #99abbd;
                    margin-bottom: 0;
                    a{
                        text-transform: lowercase;
                    }
                }
            }
            .footer_nav_bottom{
                a{
                    color: #99abbd;
                    font-family: $paragraph-font;
                    font-weight: $font-regular;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -.2px;
                }
            }
            .totop{
                position: relative;
                text-align: right;
                margin-left: 25px;
                a{
                    width: 54px;
                    height: 54px;
                    background: var(--second-color);
                    color: var(--white-color);
                    display: inline-block;
                    text-align: center;
                    line-height: 54px;
                    border-radius: 4px;
                    box-shadow: 0px 0px 3px var(--second-color);
                }
            }
        }
    }
    .footer_bottom.footer_bottom_2{
        .footer_bottom_inner{
            justify-content: space-between;
            .copyright{
                margin: unset;
            }
            .footer_nav_bottom{
                margin-left: auto;
            }
        }
    }

    
    .footer_social{
        text-align: center;
        .bottom_social {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            margin-bottom: 0px;
            li {
                list-style: none;
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                padding: 0px 8px;
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }
                a {
                    position: relative;
                    overflow: hidden;
                    font-size: $font-20;
                    text-align: center;
                    background: #2f2f3e;
                    color: var(--white-color);
                    display: block;
                    outline: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 100%;
                    &:hover{
                        color: var(--second-color);
                    }
                }
            }
        }
    }

    .footer_social_2{
        .bottom_social {
            display: flex;
            align-items: center;
            padding: 0px;
            margin-bottom: 0px;
            li {
                list-style: none;
                display: inline-block;
                position: relative;
                padding: 0px 15px;
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }
                a {
                    position: relative;
                    overflow: hidden;
                    font-size: $font-16;
                    text-align: center;
                    color: #cbd2d9;
                    display: block;
                    outline: none;
                    @include transition (all 0.5s ease);
                    &:hover{
                        color: var(--white-color);
                    }
                }
            }
        }
    }

    .widget_info{
        margin-top: 20px;
        margin-bottom: 45px;
        p{
            color: #c5d1e7;
            font-size: 17px;
            line-height: 28px;
        }
    }

}

.side_contact_info{
    padding: 50px 40px 20px 40px;
    h4{
        font-size: 22px;
        font-weight: $font-medium;
        line-height: 30px;
        color: var(--white-color);
        margin: 15px 0px;
    }
    .phone {
        position: relative;
        font-family: $heading-font;
        font-size: $font-24;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto;
        color: var(--white-color);
        line-height: 32px;
        padding: 16px 30px;
        margin-top: 25px;
        @include bordered(1px, dashed, var(--second-color));
        word-break: break-word;
        > *{
            position: relative;
            text-align: left;
        }
        img{
            margin-right: 15px;
        }
        span {
            font-family: $paragraph-font;
            font-size: $font-18;
            font-weight: $font-medium;
        }
    }
}

.side_footer_social{
    text-align: center;
    margin-top: 40px;
    .bottom_social {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-bottom: 0px;
        li {
            list-style: none;
            display: inline-block;
            position: relative;
            text-transform: uppercase;
            padding: 0px 5px;
            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                padding-right: 0px;
            }
            a {
                position: relative;
                overflow: hidden;
                font-size: $font-18;
                text-align: center;
                color: #fff;
                background: #0A2148;
                display: block;
                outline: none;
                width: 42px;
                height: 42px;
                line-height: 42px;
                border-radius: 100%;
                &:hover{
                    color: var(--second-color);
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    .footer {
        .footer_contact{
            padding-left: 0px;
        }
        .footer_links{
            padding-left: 0px;
        }
        .footer_widget{
            margin: 20px 0px;
        }
        .footer_social{
            text-align: center;
        }      
    }
}
.footer_widget_padding{
    padding-right: 42px;
}

.logo {
    a{
        img{
            width: 100%;
            max-width: 153px;
        }
    }
}