{% extends 'base.html.twig' %}
{% block title %}Nouveau Projet
{% endblock %}

{% block body %}
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>
				Nouveau projet</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/admin">Dashboard</a>
					</li>
					
					<li class="breadcrumb-item active">Projet</li>
				</ol>
			</nav>
		</div>

		<section class="section">
			<div class="row">
	            <div class="col-lg-6">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Ajouter un nouveau projet</h5>
						
						
						</div>
					</div>
				</div>
           </div>
	    </section>

</main>{% endblock %}
