{% extends 'base.html.twig' %}

{% block title %}Page d'Acceuil 
{% endblock %}

{% block body %}

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Page d'Acceuil
			</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/admin">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/metiers">Metiers</a>
					</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body" style="background-color:#0e1641">

							<h5 class="card-title" style="color:#DEE9F3">
								<strong>Page d'Acceuil</strong>
							</h5>

	
					
						</div>
					</div>


				</div>


			</div>
		</section>

	</main>

{% endblock %}
